/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /*폰트 san-serif는 san은 프랑스어로 없는 뜻, 굵기와 가로획, 세로획이 거의 일정하고, 
  획의 끝에 장식이 없는것을 말함,서체에 삐침이 없고,
  판독성이 좋기 때문에 컴퓨터 화면상으로 주로 사용됨.
    하지만 가독성에는 세리프 서체가 더 좋음*/
}
body {
  display: flex;
  align-items: center;
  justify-content: center; /*중심축에서 아이템 어떻게 배치할지 결정*/
  min-height: 100vh; /*최소 높이설정*/
  background: #bebfbe;
}
.container {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 10px;
  max-width: 1050px; /*최대너비설정*/
}
section {
  background: #fff;
  border-radius: 7px;
}
.tools-board {
  width: 210px;
  padding: 15px 22px 0;
}
.tools-board .row {
  margin-bottom: 20px;
}
.row .options {
  list-style: none;
  margin: 10px 0 0 5px;
}
.row .options .option {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 10px;
}
.option:is(:hover, .active) img {
  filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg)
    brightness(100%) contrast(100%);
} /*필터설정, 반전, 세피아톤갈색,이미지포화,색조회전,명도,이미지대비 */
.option :where(span, label) {
  color: #5a6168;
  cursor: pointer; /*커서 손 이미지*/
  padding-left: 10px;
}
.option:is(:hover, .active) :where(span, label) {
  color: #4a98f7;
}
.option #fill-color {
  cursor: pointer;
  height: 14px;
  width: 14px;
}
#fill-color:checked ~ label {
  color: #4a98f7;
}
.option #size-slider {
  width: 100%;
  height: 5px;
  margin-top: 10px;
}
.colors .options {
  display: flex;
  justify-content: space-between; /*인접항목 간격동일하게*/
}
.colors .option {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-top: 3px;
  position: relative;
}
.colors .option:nth-child(1) {
  /*순서대로 요소 선택*/
  background-color: #fff;
  border: 1px solid #bfbfbf;
}
.colors .option:nth-child(2) {
  background-color: #000;
}
.colors .option:nth-child(3) {
  background-color: #e02020;
}
.colors .option:nth-child(4) {
  background-color: #6dd400;
}
.colors .option:nth-child(5) {
  background-color: #4a98f7;
}
.colors .option.selected::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 12px;
  width: 12px;
  background: inherit;
  border-radius: inherit;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
}
.colors .option:first-child.selected::before {
  border-color: #ccc;
}
.option #color-picker {
  opacity: 0;
  cursor: pointer;
}
.buttons button {
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  padding: 11px 0;
  font-size: 0.9rem;
  margin-bottom: 13px;
  background: none;
  border-radius: 4px;
  cursor: pointer;
}
.buttons .clear-canvas {
  color: #6c757d;
  border: 1px solid #6c757d;
  transition: all 0.3s ease;
}
.clear-canvas:hover {
  color: #fff;
  background: #6c757d;
}
.buttons .save-img {
  background: #4a98f7;
  border: 1px solid #4a98f7;
}
.drawing-board {
  flex: 1;
  overflow: hidden;
}
.drawing-board canvas {
  width: 100%;
  height: 100%;
}
